<div class="text-xl bg-primary">Hello!</div>

<input type="file" class="file-input w-full max-w-xs" accept=".gpx" data-controller="file_input" data-action="change->file_input#change"/>
<div class="w-screen" data-pk="<%= ENV["X"] %>" data-controller="map_editor" data-action="drawRoute@window->map_editor#drawRoute"></div>